@model SeaCarp.Domain.Models.User
@{
    ViewData["Title"] = "User";
}

<div class="container">
    <main>
        <h1>Profile</h1>
        <br />

        <div class="row">
            <div class="col-md-2">
                <section>
                    <p>@Model.Email</p>
                </section>
            </div>
            @if (RequestContext.Instance.CurrentUser.Value.Id == Model.Id)
            {
                <div class="offset-md-1 col-md-8" style="padding: 0">
                    <h1>THIS IS COMING SOON</h1>
                    @* <button onclick="updateDescription()" class="btn btn-primary float-end">Update description</button>
                    @section Scripts
                    {
                        <script type="text/javascript">
                            function updateDescription() {
                                $.ajax(
                                    {
                                    url: '/User/@(Model.Id)/Description',
                                        method: "PUT",
                                        data: JSON.stringify($('textarea[name="description"]').val()),
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        success: function () {
                                            window.location.reload();
                                        },
                                        error: function () {
                                            window.location.reload();
                                        }
                                    }
                                );
                            }

                        function updateProfileImage() {
                            $.ajax(
                                {
                                    url: '/User/@(Model.Id)/ProfileImage',
                                    method: "PUT",
                                    data: JSON.stringify($('textarea[name="profileimage"]').val()),
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    success: function () {
                                        window.location.reload();
                                    },
                                    error: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        }
                        </script>
                    } *@
                </div>
            }
            else
            {
                <div class="offset-md-1 col-md-8" style="border: 1px solid #303030">
                    <p>@Model.Username</p>
                    <p>@Model.Email</p>
                </div>
            }
        </div>
    </main>
</div>