@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<p>This is the admin page.</p>

<form action="/AdminHiddenXYZ/ResetDatabase" method="post">
    <input type="submit" value="Reset database"/>
</form>