@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <main>
        <p id="error" style="display: none; color: red"></p>
        <h1>Log in</h1>
        <br />

        <div class="row">
            <div class="col-md-4">
                <section>
                    <form id="login_form" method="post" novalidate="novalidate">
                        <h2>Use a local account to log in.</h2>
                        <hr>
                        <div class="form-floating mb-3">
                            <input class="form-control" aria-required="true" placeholder="username" type="text" data-val-required="The Username field is required." id="Username" name="Username" value="">
                            <label for="Username">Username</label>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                            <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" aria-required="true" placeholder="password" type="password" data-val-required="The Password field is required." id="Password" name="Password">
                            <label for="Password">Password</label>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                            <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                    </form>
                    <div>
                        <p>
                            <a href="/Identity/Register">Register as a new user</a>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <section>
                    <h3>The world's premier community for sea life enthusiasts</h3>
                    <hr />

                    <div>
                        <img src="/images/SeaCarpSimple.png" width="256" height="256" style="float: left; margin-right: 15px; margin-bottom: 15px;" />
                        <p style="text-align: justify;">
                            You're only one step from accessing the web's premier destination for all things sea carp! We're thrilled to have you here, log in to access a community for everyone from a seasoned angler to a curious enthusiast.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

@section Scripts
{
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#login_form').onsubmit = (e) => {
                e.preventDefault();
                fetch('@Url.ActionLink(nameof(SeaCarp.Controllers.IdentityController.LoginUser), nameof(SeaCarp.Controllers.IdentityController).Replace("Controller", ""))', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'Username': document.querySelector('#Username').value,
                        'Password': document.querySelector('#Password').value,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location = '@Url.ActionLink(nameof(SeaCarp.Controllers.ProfileController.GetProfile), nameof(SeaCarp.Controllers.ProfileController).Replace("Controller", ""))';
                        return;
                    }

                    document.querySelector('#error').innerText = data.errorMessage;
                    document.querySelector('#error').style.display = 'inline';
                });
            };
        }, false);
    </script>
}