<div class="container">
    <main>
        <p id="error" style="display: none; color: red"></p>
        <h1>Log in</h1>
        <br />

        <div class="row">
            <div class="col-md-4">
                <section>
                    <form id="login_form" method="post" novalidate="novalidate">
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   aria-required="true"
                                   placeholder="username"
                                   type="text"
                                   data-val-required="The Username field is required."
                                   id="Username"
                                   name="Username"
                                   value="">
                            <label for="Username">Username</label>
                            <span class="text-danger field-validation-valid"
                                  data-valmsg-for="Username"
                                  data-valmsg-replace="true"></span>
                            <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   aria-required="true"
                                   placeholder="password"
                                   type="password"
                                   data-val-required="The Password field is required."
                                   id="Password"
                                   name="Password">
                            <label for="Password">Password</label>
                            <span class="text-danger field-validation-valid"
                                  data-valmsg-for="Password"
                                  data-valmsg-replace="true"></span>
                            <div style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                    </form>
                    <div>
                        <p>
                            <a href="/Identity/Register">Register as a new user</a>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <section>
                    <h3>Your One-Stop Shop for Premium Sea Carp Fishing Gear</h3>
                    <hr />
                    <div>
                        <img src="/images/SeaCarpSimple.png"
                             width="256"
                             height="256"
                             style="float: left; margin-right: 15px; margin-bottom: 15px;" />
                        <p style="text-align: justify;">
                            You're only one step away from exploring the best fishing gear, accessories, and tips
                            for your next sea carp adventure. Log in to browse top-quality rods, reels, and baits,
                            manage your cart and orders, and connect with fellow anglers in our vibrant community.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

@section Scripts
{
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#login_form').onsubmit = (e) => {
                e.preventDefault();
                fetch('@Url.ActionLink(nameof(IdentityController.LoginUser), nameof(IdentityController).RemoveControllerSuffix())', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'Username': document.querySelector('#Username').value,
                        'Password': document.querySelector('#Password').value,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        let params = new URL(document.location.toString()).searchParams;
                        let returnUrl = params.get("returnUrl");
                        if (returnUrl) {
                            window.location = returnUrl;
                            return;
                        }

                        window.location = '@Url.ActionLink(nameof(ProfileController.GetProfile), nameof(ProfileController).RemoveControllerSuffix())';
                        return;
                    }

                    document.querySelector('#error').innerText = data.errorMessage;
                    document.querySelector('#error').style.display = 'inline';
                });
            };
        }, false);
    </script>
}
