@model SeaCarp.Domain.Models.User
@{
    ViewData["Title"] = "Profile";
    var user = Model ?? RequestContext.Instance.CurrentUser.Value;
}

<div class="container">
    <main>
        <h1>Profile</h1>
        <br />

        <div class="row">
            <div class="col-md-2">
                <section>
                    <img src="@(Html.Raw(user.ProfileImage))"
                        alt="Profile image"
                        width="100px
                        height="100px" />
                    <p>@user.Email</p>
                </section>
            </div>
            <div class="offset-md-1 col-md-8" style="border: 1px solid #303030">
                <section>
                    <p>@user.Description</p>
                </section>
            </div>
        </div>
    </main>
</div>