<div class="container">
    <main>
        <h1>Register</h1>
        <br />

        <div class="row">
            <div class="col-md-4">
                <form id="register_form" method="post" action="/Identity/Register">
                    <h2>Create a new account.</h2>

                    <div id="error" class="alert alert-danger" style="display:none"></div>

                    <hr />
                    <div class="form-floating mb-3">
                        <input class="form-control"
                               required
                               aria-required="true"
                               placeholder="username"
                               type="text"
                               pattern="^[a-zA-Z0-9]{4,12}$"
                               title="Username must be alphanumeric and between 4 and 12 characters."
                               data-val-required="The Username field is required."
                               id="Username"
                               name="Username"
                               value="">
                        <label for="Username">Username</label>
                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="Username"
                              data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control"
                               required
                               aria-required="true"
                               placeholder="name@example.com"
                               type="email"
                               data-val-required="The Email field is required."
                               id="Email"
                               name="Email"
                               value="">
                        <label for="Email">Email</label>
                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="Email"
                              data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control"
                               required
                               aria-required="true"
                               placeholder="password"
                               type="password"
                               pattern="^.{4,}$"
                               title="Password must be at least 4 characters long."
                               data-val-required="The Password field is required."
                               id="Password"
                               name="Password">
                        <label for="Password">Password</label>
                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="Password"
                              data-valmsg-replace="true"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <section>
                    <h3>Join the #1 Community for Sea Carp Gear, Tips & More</h3>
                    <hr />
                    <div>
                        <img src="~/files/images/SeaCarpDrawing.png"
                             width="256"
                             height="256"
                             style="float: left; margin-right: 15px; margin-bottom: 15px;" />
                        <p style="text-align: justify;">
                            Welcome to our online hub dedicated to all things sea carp! By creating an account,
                            you'll unlock access to the finest fishing gear, insider tips, and a thriving community
                            of fellow enthusiasts. Whether you're a veteran angler or just dipping your toes
                            into the world of sea carp, we have everything you need to enhance your fishing
                            experience. Connect with experts, discover new equipment, and share your stories —
                            all in one place. Dive in and start exploring the best of sea carp fishing with us today!
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

@section Scripts
{
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#register_form').onsubmit = (e) => {
                e.preventDefault();
                fetch('@Url.ActionLink(nameof(IdentityController.CreateAccount), nameof(IdentityController).RemoveControllerSuffix())', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'Username': document.querySelector('#Username').value,
                        'Email': document.querySelector('#Email').value,
                        'Password': document.querySelector('#Password').value,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location = '@Url.ActionLink(nameof(IdentityController.LoginPage), nameof(IdentityController).RemoveControllerSuffix())';
                        return;
                    }

                    document.querySelector('#error').innerText = data.errorMessage;
                    document.querySelector('#error').style.display = 'inline';
                });
            };
        }, false);
    </script>
}
