<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sea Carp</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand me-3" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/SeaCarpLogo.png" class="d-none d-sm-inline-block" width="48" height="48" alt="Sea Carp Logo" />
                        Sea Carp
                    </a>
                    <form class="d-flex" id="search_form" role="search" action="@Url.ActionLink(nameof(SearchController.Index_MVC), nameof(SearchController).RemoveControllerSuffix())" method="get">
                        <input class="form-control rounded-pill"
                               type="search"
                               placeholder="Search"
                               aria-label="Search"
                               style="width: 200px;"
                               name="q" />
                    </form>
                </div>

                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <button class="btn btn-outline-light rounded-square" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                            @if (RequestContext.Instance.CurrentUser.Value != null)
                        {
                            <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Profiles" asp-action="Index">Profile</a>
                                </li>
                            <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Identity" asp-action="Logout">Logout</a>
                                </li>
                                <li id="top_menu_dropdown_admin" style="display: none">
                                    <a class="dropdown-item" href="/@nameof(AdminController).RemoveControllerSuffix()">
                                        Admin
                                        <span id="adminBadge" class="badge bg-secondary ms-1"></span>
                                    </a>
                                </li>
                        }
                        else
                        {
                            <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Identity" asp-action="LoginPage">Login</a>
                                </li>
                            <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Identity" asp-action="Register">Register</a>
                                </li>
                        }
                            <li id="top_menu_dropdown_divider">
                                <hr class="dropdown-divider" />
                            </li>
                            <li id="top_menu_dropdown_cart">
                                <a class="dropdown-item" href="/@nameof(CartController).RemoveControllerSuffix()">
                                    Cart
                                    <span id="cartBadge" class="badge bg-secondary ms-1"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="min-height: 80vh">
        <div id="error" class="alert alert-danger" style="display:none"></div>
        <main role="main" class="pb-3">
            <div id="error-box" style="display: none;" class="error-box">
                <p id="error-message"></p>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    &copy; @DateTime.Now.Year - Sea Carp - All rights reserved
                </div>
                <div class="col-md-6 text-end">
                    <a asp-controller="System" asp-action="Index_MVC">System Information</a>
                </div>
            </div>
        </div>
    </footer>


    <script>
        const handleException = data => {
            const errorDiv = document.querySelector('#error');
            errorDiv.innerText = data.errorMessage;
            errorDiv.style.display = 'block';
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            @if (RequestContext.Instance.CurrentUser.Value is null)
        {
            <text>
                localStorage.removeItem("cartItems");
                </text>
        }
            setInterval(() => {
                const cartBadge = document.getElementById("cartBadge");
                let cartItems = localStorage.getItem("cartItems");
                if (cartItems) {
                    document.getElementById("top_menu_dropdown_divider").style.display = 'list-item';
                    document.getElementById("top_menu_dropdown_cart").style.display = 'list-item';
                    try {
                        const items = JSON.parse(cartItems);
                        if (items && items.length > 0) {
                            cartBadge.innerText = items.length;
                            cartBadge.style.display = 'inline-block';
                        } else {
                            cartBadge.style.display = 'none';
                        }
                    } catch (error) {
                        console.error("Error parsing cartItems:", error);
                        cartBadge.style.display = 'none';
                    }
                } else {
                    cartBadge.style.display = 'none';
                    document.getElementById("top_menu_dropdown_divider").style.display = 'none';
                    document.getElementById("top_menu_dropdown_cart").style.display = 'none';
                }
            }, 500);
        });
    </script>
</body>
</html>
